
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}






<footer class="footer bg-green-pattern">






 <div class="page-width text-white pb-4">

  <div class="row grid grid--1-col grid--2-col-tablet py-5">
    <div class="grid__item footer-menu">
      <h3 class="text-white text-uppercase font-weight-normal">Navigate</h3>
      <ul class="list-unstyled text-left">
       {% for link in linklists.main-menu.links %}
           <li>
               <a href="{{ link.url }}">{{ link.title }}</a>
           </li>
       {% endfor %}
     </ul>
    </div>
    <div class="grid__item center">
      <ul class="social-links ">
        <li class="social-link social-links__facebook">
          <a class="social-link__link" href="https://www.facebook.com/Fedoras-Dressing-104749582212160">
      <svg class="icon-facebook " aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 9 20">      <path fill="currentColor" d="M8.3 6.309H5.533V4.43c0-.691.494-.89.79-.89H8.3V.38H5.533C2.47.38 1.78 2.751 1.78 4.234v2.075H0v3.26h1.779v9.19h3.754v-9.19h2.47L8.3 6.31z"></path></svg>                                          
          </a>
        </li>
        <li class="social-link social-links__instagram">
          <a class="social-link__link" href="https://instagram.com/fedorasdressing">
      <svg class="icon-instagram " aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">      <path fill="currentColor" d="M10 1.933c2.629 0 2.938.012 3.977.06.96.042 1.48.202 1.828.339.46.18.789.39 1.133.734.343.344.558.672.734 1.133.133.348.297.867.34 1.828.047 1.04.058 1.348.058 3.977 0 2.629-.011 2.937-.058 3.976-.043.961-.203 1.48-.34 1.829-.18.46-.39.789-.735 1.132a3.006 3.006 0 01-1.132.735c-.348.133-.867.297-1.828.34-1.04.046-1.348.058-3.977.058-2.629 0-2.938-.012-3.977-.059-.96-.042-1.48-.203-1.828-.34-.46-.179-.789-.39-1.133-.734a3.006 3.006 0 01-.734-1.132c-.133-.348-.297-.868-.34-1.829-.047-1.039-.058-1.347-.058-3.976 0-2.63.011-2.938.058-3.977.043-.96.203-1.48.34-1.828.18-.46.39-.789.735-1.133a3.006 3.006 0 011.132-.734c.348-.133.867-.297 1.828-.34 1.04-.05 1.348-.058 3.977-.058zM10 .16C7.328.16 6.992.172 5.941.22 4.895.266 4.18.434 3.555.676c-.649.25-1.196.59-1.743 1.136A4.88 4.88 0 00.677 3.555c-.242.625-.41 1.34-.457 2.39C.172 6.992.16 7.328.16 10c0 2.672.012 3.008.059 4.059.047 1.046.215 1.761.457 2.39.25.649.59 1.195 1.136 1.742a4.88 4.88 0 001.743 1.137c.625.242 1.34.41 2.39.457 1.051.047 1.383.059 4.059.059s3.008-.012 4.059-.059c1.046-.047 1.761-.215 2.39-.457a4.796 4.796 0 001.742-1.137 4.88 4.88 0 001.137-1.742c.242-.625.41-1.34.457-2.39.047-1.051.059-1.383.059-4.06 0-2.675-.012-3.007-.059-4.058-.047-1.047-.215-1.761-.457-2.39a4.796 4.796 0 00-1.137-1.743A4.88 4.88 0 0016.453.673c-.625-.242-1.34-.41-2.39-.457C13.008.172 12.671.16 10 .16z"></path>      <path fill="currentColor" d="M10 4.945a5.055 5.055 0 000 10.11A5.058 5.058 0 0015.055 10 5.058 5.058 0 0010 4.945zm0 8.336a3.28 3.28 0 110-6.562 3.28 3.28 0 010 6.562zM15.254 5.926a1.18 1.18 0 100-2.36 1.18 1.18 0 000 2.36z"></path>    </svg>                  
          </a>
        </li>
      </ul>
    </div>
  </div> 





  <small class="copyright__content"
  >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
</small>
 </div>




</footer>
